<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
                 xmlns="http://java.sun.com/xml/ns/javaee"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ➥
                     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>pitaka</display-name>
  <servlet>
    <display-name>Content</display-name>
    <servlet-name>Content</servlet-name>
    <servlet-class>zen.ilgo.pitaka.servlet.Content</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Content</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>Page</display-name>
    <servlet-name>Page</servlet-name>
    <servlet-class>zen.ilgo.pitaka.servlet.Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
</web-app>
