<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="zen.ilgo.pitaka.dict.DictView"
            icon="icons/report.png"
            id="zen.ilgo.pitaka.dict.DictView"
            name="DictView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="zen.ilgo.pitaka.dict.preferences.SamplePreferencePage"
            id="zen.ilgo.pitaka.dict.preferences.SamplePreferencePage"
            name="Sample Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="zen.ilgo.pitaka.dict.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="workbenchpreferencepage.WorkbenchPreferencePage2"
            id="pitaka-dict.page2"
            name="name">
      </page>
   </extension>

</plugin>
